html{
  min-height: 100%;
}

body {
    font-family: Helvetica;
    background-color: rgb(212 231 247)!important;
    min-height: 100vh;
}

.topnav {
    overflow: hidden;
    background-color: #4481bb;
    margin: -8px;
    padding: -100px;
    height: 70px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
  }
  .topnav .logo{
    padding: 0px;
  }

  .topnav .logo:hover{
    background-color: #4481bb;
    /* color:none; */
  }
  
  .topnav a:hover {
    background-color: #d42959;
    color: white;
  }
  
  .topnav a.active {
    background-color: #d42959;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

#verif_form{
    margin: auto;
    width: 50%;
    /* padding: 10px; */
}

#chat_btn{
    transition-duration: 0.4s;
    width: 20%;
    /* margin: auto; */
    /* margin-left: 405px; */
    height: 50px;
    background-color: #d42959;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-bottom: solid;
    border-color: #d42959;
    border-right-color: #d42959;

}

/* #chat_btn:hover{
    background-color: green; /* Green */
    /* color: white; */
/* } */


  
  #footer {
    /* background-color: #efefef; */
    /* flex: 0 0 50px;or just height:50px; */
    /* margin-top: auto; */
    background-color: #4481bb;
    position: fixed;
    /* width: 100%; */
    /* margin-left: -7px; */
    /* margin-bottom: 0px; */
    /* margin-top: 1000px; */
    /* padding: 7px; */
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    /* background-color: red; */
    color: white;
    /* text-align: center; */
  }

  #footer .footer-links a{
      color: white;
      text-decoration: none;
      padding: 20px;
  }

  #footer .footer-links a .company{
    float: right;
}

@media screen and (max-width: 600px) {
  body{
    min-height: 100vh;
    height: 1000px;
  }

  #chat_btn{
    width: 60%;
  }
  
 }